fastapi
python-dotenv
pymongo
uvicorn[standard]
pydantic[email]
pydantic-settings
aiosmtplib
PyJWT
httpx
itsdangerous
python-multipart
pwdlib[argon2]
authlib
pywebpush
groq
langchain
langgraph
langchain-core
langchain-community
langchain-groq
