python-dotenv
pymongo
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
PyJWT
pwdlib[argon2]
python-multipart
authlib
httpx
aiosmtplib
itsdangerous
groq
pywebpush
langchain
langgraph
langchain-core
langchain-community
langchain-groq
