pymongo
python-dotenv
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
PyJWT
pwdlib[argon2]
python-multipart
authlib
httpx
aiosmtplib
itsdangerous
pywebpush
groq
langchain
langgraph
langchain-core
langchain-community
langchain-groq